<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-title>Confim Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-list *ngFor="let order of orders">
    <ion-item>
      <ion-row>
        <ion-col size="5">
          <span class="order_name">
            {{order.name}}
          </span> 
          <img height="50px" width="50px" [src]="order.images[0]">
        </ion-col>
        <ion-col size="2">
          <span class="order_count">
            x{{order.count}}
          </span>
        </ion-col>
        <ion-col size="5">
          INSTRUCTIONS FOR CHEF
          <span class="order_instructions">
           {{order.currency}}{{order.count * order.price}}
          </span>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        Grand Total
      </ion-label>
      <ion-note slot="end" color="primary"></ion-note>
    </ion-item>
  </ion-list>


  <ion-button class="order-place-button" expand="block" (click)="placeOrder()">Place Order</ion-button>

</ion-content>