<ion-header class="ion-no-border">
  <app-header [title]="'Products'"></app-header>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="slide">
      <span class="banner">
      </span>
      <img src="../../assets/images/homes/home.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col class="4" size="4" *ngFor="let product of products">
      <ion-card class="card">
        <span class="card-banner">
          {{
            product.name
          }}
        </span>
        <stepper-input [step]="1" [min]="0" [max]="100" [initialValue]="0" symbol="%" ariaLabelLess="Less 10"
        ariaLabelMore="Plus 10">
      </stepper-input>
      <img class="card-image" *ngIf="product.images.length > 0; else dummyImage" src="{{product.images[0]}}">
      <ng-template #dummyImage>
        <img class="card-image"  src="../../assets/images/homes/soup.jpg">
      </ng-template>
      </ion-card>
    </ion-col>
  </ion-row>

 


</ion-content>