<ion-header class="ion-no-border">
    <app-header [title]="'Categories'" ></app-header>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="slide">
      <span class="banner">
      </span>
      <img src="../../assets/images/homes/home.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col class="4" size="4" *ngFor="let category of categories">
      <ion-card class="card">
        <span class="card-banner">
          {{
            category.name
          }}
        </span>
        <img class="card-image" src="../../assets/images/homes/{{category.image}}">
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>