<ion-header class="ion-no-border">
  <app-header [title]="'Categories'"></app-header>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="slide">
      <span class="banner">
      </span>
      <img src="../../assets/images/homes/home.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col class="4" size="4" *ngFor="let category of allCategories">
      <ion-card class="card" (click)="goToSubcategory(category)">
        <span class="card-banner">
          {{
            category.name
          }}
        </span>
        <img class="card-image" *ngIf="category.images?.length > 0; else dummyImage" src="{{category.images[0]}}">
        <ng-template #dummyImage>
          <img class="card-image"  src="../../assets/images/homes/dish.jpg">
        </ng-template>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>