<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <!-- <ion-buttons slot="end">
      <ion-icon name="cart-outline" class="cart"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="end" >
      <ion-icon slot="icon-only" class="cart-icon" name="cart-outline"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -5px; top: -3px;">3</ion-badge></ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="slide">
      <span class="banner">
      </span>
      <img src="../../assets/images/homes/home.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col class="4" size="4" *ngFor="let category of categories">
      <ion-card class="card">
        <span class="card-banner">
          {{
            category.name
          }}
        </span>
        <img class="card-image" src="../../assets/images/homes/{{category.image}}">
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>